body{
    font-family: 'Courier New', Courier, monospace;
    background-color: white;
    color: white;
}
header{
    color: #BA9100;
    text-align: center;

}
section{
    background-color: #BA9100;
    border-radius: 10px;
    width: 500px;
    margin: auto;
    padding: 15px;
    box-shadow: 5px 5px 10px rgba(5, 41, 1, 0.767);
}
#msn{
    text-align: justify;
    padding: 10px;
}
div{
    text-align: center;
    padding: 5px;
}
footer{
    color:#BA9100;
    text-align: center;
}
.menu{
    width: 341px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #BA9100;
    border: 1px solid white;
}

li {
    float: left;
    text-align: center;
    border-right: 1px solid white;
}

li:last-child {
    border-right: none;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover {
    background-color: #A17E00;
}